body {
  background: black;
  font-family: $lato;
  font-size: 18px;
}

.BgImage{
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index:-2;

  // works like background-image. BgImage works on every size !!!
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

.BgGradient{
  position: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 90%);
  width: 105%;
  height: 105%;
  z-index:-1;
}

// App fade in on opening site
#app {
  animation: fadein ease-out 1.4s;
}