// colours
$lightGrey: #fafafa;
$midGrey: #ccc;
$darkGrey: #343434;
$limeGreen: #00FC87;
$transparentBackground: rgba(0, 0, 0, 0.8);

// typography
$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;
$Ionicons:'Ionicons';